RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dev.animepedia.fr/$1 [R,L]
RewriteRule ^subscribe$ /public/subscribe.php
RewriteRule ^animes$ /public/animes.php
RewriteRule ^contact$ /public/contact.php
RewriteRule ^login$ /public/login.php
RewriteRule ^register$ /public/register.php
RewriteRule ^forum$ /public/forum.php
RewriteRule ^admin$ /prive/admin.php
RewriteRule ^home$ /public/index.php
RewriteRule ^index.php /public/index.php
RewriteRule ^wizard$ /public/wizard.php
RewriteRule ^discord$ /public/discord.php
RewriteRule ^logout$ /controleur/ControleurLogout.php
RewriteRule ^profile$ /public/profil.php
RewriteRule ^anime/([0-9]+) public/anime.php?id=$1 [L]
RewriteRule ^animes/page/([0-9]+) public/animes.php?page=$1 [L]
RewriteRule ^admin/page/([0-9]+) prive/admin.php?page-anime=$1 [L]
RewriteRule ^admin/anime/page/([0-9]+) prive/admin.php?page-anime=$1 [L]
RewriteRule ^admin/utilisateur/page/([0-9]+) prive/admin.php?page-utilisateur=$1 [L]
RewriteRule ^admin/privilege/page/([0-9]+) prive/admin.php?page-privilege=$1 [L]
RewriteRule ^admin/genre/page/([0-9]+) prive/admin.php?page-genre=$1 [L]
ErrorDocument 404 /public/404.php