RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dev.animepedia.fr/$1 [R,L]
RewriteRule ^subscribe$ /public/subscribe.php
RewriteRule ^animes$ /public/animes.php
RewriteRule ^contact$ /public/contact.php
RewriteRule ^login$ /public/login.php
RewriteRule ^register$ /public/register.php
RewriteRule ^forum$ /public/forum.php
RewriteRule ^admin$ /prive/admin.php
RewriteRule ^home$ /public/index.php
RewriteRule ^index.php /public/index.php
RewriteRule ^wizard$ /public/wizard.php
RewriteRule ^discord$ /public/discord.php
RewriteRule ^logout$ /controleur/ControleurLogout.php
RewriteRule ^profile$ /public/profil.php
ErrorDocument 404 /public/404.php