RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.animepedia.fr/$1 [R,L]
RewriteRule ^subscribe$ subscribe.php
RewriteRule ^subscribe.css$ subscribe.php
RewriteRule ^animes$ animes.php
RewriteRule ^contact$ contact.php
RewriteRule ^login$ login.php
RewriteRule ^register$ register.php
RewriteRule ^forum$ forum.php
RewriteRule ^admin$ admin.php
RewriteRule ^profile$ profile.php