/*
COULEURS :
fond : #24333c;
vert : #1ab188;
gris : #435358;
gris 2 : #92a3a0;
*/

html {
  background-color: #24333c;
}

.navbar {
    overflow: hidden;
    display: block;
    background-color: #435358 ;
}

.navbar a {
    display: inline-block;
    float: left;
    color: #92a3a0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #1ab188;
    color: white;
}
    
.navbar input[type=text] {
    display: inline-block;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

footer a {
    text-decoration: none;
}